@{
    ViewData["Title"] = "Index";
}
  <link rel="stylesheet" href="~/css/login.css" asp-append-version="true" />

<div class="container-login">
    <form action='@Url.Action("CambiarContrasena")' method="post" class="CambiarContrasena" onsubmit="return validarFormulario()">
        <h2>Change Password</h2>
        <div class="formulario">
            <label for="Contrasena">New Password</label>
            <input type="password" name="nuevaContrasena" required>
            <p id="errorContrasena" class="error-message"></p>

            <label for="Contrasena2">Confirm New Password</label>
            <input type="password" name="Contrasena2" required>
            <p id="errorConfirmarContrasena" class="error-message"></p>

            <input type="hidden" name="UserName" value="@ViewBag.user.UserName">
        </div>
        <button type="submit" class="boton-submit">Change Password</button>
    </form>
</div>