<link rel="stylesheet" href="~/css/extras.css" asp-append-version="true" />
<header>
    <h1>Frequently Asked Questions</h1>
</header>
<section>
    <h2>General Questions</h2>
    <ul>
        <li><strong>Q: Can I return my shoes?</strong><br />A: Yes, we offer a hassle-free return policy. Check our
            Returns page for details.</li>
        <li><strong>Q: How can I track my order?</strong><br />A: Once your order is shipped, you'll receive a tracking
            number via email.</li>
        <li><strong>Q: Do you offer international shipping?</strong><br />A: Yes, we ship internationally. Additional
            charges may apply.</li>
    </ul>
</section>