<h1>Favourites</h1>

@if(ViewBag.ZapatillaFav != null)
{
    @foreach(var ZapatillaFav in ViewBag.ZapatillaFav)
    {
        <img src="/Images/@ZapatillaFav.Foto" width="300">
        <h2>@ZapatillaFav.Nombre</h2>
        <h2>@ZapatillaFav.Precio</h2> 
    }
}


<style> 
h1
{
    font-family: 'Poppins'; 
    font-size: 223px;
}
h2
{
    font-family: 'Poppins'; 
}
</style>