@{
    
}
  <link rel="stylesheet" href="~/css/login.css" asp-append-version="true" />

<div class="container-login">

    <a href='@Url.Action("SignIn", "Home")'>
        <button type="button" class="boton-b"> Register </button>
    </a>

    <a href='@Url.Action("LogIn", "Home")'>
        <button type="button" class="boton-b"> Log In </button>
    </a>
</div>