@{
    
}
<link rel="stylesheet" href="~/css/extras.css" asp-append-version="true" />
<header>
    <h1>Our Services</h1>
</header>
<section>
    <p>At Kursed Kicks, we not only provide you with stylish and comfortable footwear but also offer a range of services
        to enhance your shopping experience:</p>
    <ul>
        <li><strong>Express Shipping:</strong> Fast and reliable shipping options to get your kicks to you in no time.
        </li>
        <li><strong>Customization:</strong> Personalize your shoes with our custom design options.</li>
        <li><strong>24/7 Customer Support:</strong> Our dedicated support team is always ready to assist you.</li>
    </ul>
</section>