<link rel="stylesheet" href="~/css/extras.css" asp-append-version="true" />
<header>
    <h1>Payment Options</h1>
</header>
<section>
    <p>Shopping at Kursed Kicks is convenient with our flexible payment options. Choose from the following methods to
        complete your purchase:</p>
    <ul>
        <li><strong>Visa:</strong>Credit/Debit Cards</li>
        <li><strong>MasterCard:</strong>Credit/Debit Cards</li>
        <li><strong>American Express:</strong>Credit/Debit Cards</li>
    </ul>
</section>