<link rel="stylesheet" href="~/css/extras.css" asp-append-version="true" />
<header>
    <h1>Privacy Policy</h1>
</header>
<section>
    <p>Your privacy is important to us. Here's how we handle your personal information:</p>
    <ul>
        <li><strong>Collection:</strong> We collect only the necessary information required for your transactions.</li>
        <li><strong>Security:</strong> Your data is securely stored and protected from unauthorized access.</li>
        <li><strong>Third Parties:</strong> We do not share your information with third parties without your consent.
        </li>
    </ul>
</section>