@{
    
}
  <link rel="stylesheet" href="~/css/login.css" asp-append-version="true" />


<div class = "container-login">
<form action='@Url.Action("VerificarRecuperarContrasena")' method="get" class="CambiarContrasena">
            <div class = "formulario">
            <h2 >Email:</h2>
            <input type="email" name="Email" required>
            <button type="submit" class="boton-submit">Recover Password</button>
            <p class = "error-message">@ViewBag.MensajeError</p>
            </div>
</form>
</div>