<link rel="stylesheet" href="~/css/extras.css" asp-append-version="true" />
<header>
    <h1>Returns and Exchanges</h1>
</header>
<section>
    <p>At Kursed Kicks, we want you to be satisfied with your purchase. Here's what you need to know about our returns
        and exchange policy:</p>
    <ul>
        <li><strong>Returns Period:</strong> You have 30 days from the date of purchase to initiate a return or
            exchange.</li>
        <li><strong>Conditions:</strong> Returned items must be unworn, in their original packaging, and accompanied by
            the original receipt.</li>
        <li><strong>Process:</strong> Visit our Returns page to start the returns or exchange process.</li>
    </ul>
</section>
