<link rel="stylesheet" href="~/css/extras.css" asp-append-version="true" />
<header>
    <h1>Shipping Information</h1>
</header>
<section>
    <p>Experience seamless shipping with Kursed Kicks. Here are the key details about our shipping services:</p>
    <ul>
        <li><strong>Domestic Shipping:</strong> We offer fast and reliable shipping options within the country.</li>
        <li><strong>International Shipping:</strong> Explore our international shipping services for deliveries
            worldwide.</li>
        <li><strong>Shipping Times:</strong> Delivery times may vary based on your location and chosen shipping method.
        </li>
    </ul>
</section>